{% extends 'enroll/base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-8 offset-2">
        <h4 class="alert alert-danger">Update Student INFO</h4>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-success" value = "Update">
            <a href="{% url 'addandshow' %}" class="btn btn-info">Back to Home</a>
        </form>
    </div>
</div>
{% endblock content %}